/* love */
.love1 {
  height: 90%;
  background: #ff0000;
}
.love2 {
  height: 0%;
  background: #ff0000;
}
.love3 {
  height: 0%;
  background: #ff0000;
}
.love4 {
  height: 10%;
  background: #ea6284;
}

/* hate */
.hate1 {
  height: 51%;
  background: #ff0000;
}
.hate2 {
  height: 0%;
  background: #ff0000;
}
.hate3 {
  height: 35%;
  background: #000;
}
.hate4 {
  height: 14%;
  background: #fff504;
}

/* heat */
.heat1 {
  height: 55%;
  background: #ff0000;
}
.heat2 {
  height: 0%;
  background: #ff0000;
}
.heat3 {
  height: 35%;
  background: #fff504;
}
.heat4 {
  height: 10%;
  background: #ffa504;
}
