/* home Page Buttons */
.button_area {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100px;
  width: 80%;
  transform-style: preserve-3d;
  transition: transform 320ms ease-in-out;
  transform: translateZ(-60px);
  cursor: pointer;
}

.button_area:hover {
  transform: rotateX(-90deg) translateY(60px);
}

.second {
  margin-top: 2rem;
}

.button {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  max-width: 28rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font_textLg);
  font-weight: bold;
  font-family: "Poppins";
  border-radius: var(--radius);
  border: var(--borderLg);
}

.side-one {
  transform: translateZ(60px);
  text-transform: uppercase;
}

.side-two {
  background: #87cfdb;
  transform: rotateX(90deg) translateZ(60px);
  text-transform: uppercase;
}

.side-three {
  transform: translateZ(60px);
  text-transform: uppercase;
}

.side-four {
  background: #f9cc01;
  transform: rotateX(90deg) translateZ(60px);
  text-transform: uppercase;
}

/* CARD FLIP TUTORIAL */
.card2_back {
  width: var(--card_width);
  min-height: var(--card_min_h);
  min-width: var(--card_min_w);
  max-width: var(--maxWidth);
  background: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* border: 4px solid var(--black);
  border-radius: var(--radiusLg); */
}

.card2_front {
  width: var(--card_width);
  min-height: var(--card_min_h);
  min-width: var(--card_min_w);
  max-width: var(--maxWidth);
  background: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* border: 4px solid var(--black); */
  border-radius: var(--radiusLg);
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  transform: rotateY(180deg);
}

.button_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--card_width);
  min-height: var(--card_min_h);
  min-width: var(--card_min_w);
  max-width: var(--maxWidth);
  backface-visibility: hidden;
  border-radius: var(--radius);
  border: var(--borderSm);
  perspective: 800px;
}

/* TUTORIAL */

.tutorial-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

.tutorial_top,
.tutorial_bottom {
  display: flex;
  margin-bottom: 2rem;
}

.tutorial img {
  width: 260px;
}

.tutorial {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  border-radius: var(--radius);
  border: var(--borderSm);
  transform: rotateY(180deg);
}

@media screen and (max-width: 640px) {
  .button {
    width: 80%;
  }
  .tutorial {
    border: none;
  }
  .tutorial-container {
    height: auto;
    margin-top: 26rem;
    padding: 0.4rem;
  }

  .button_container {
    border: none;
  }
  .tutorial_top,
  .tutorial_bottom {
    flex-direction: column;
    background: white;
  }
}
