/* BODY/CARD */

.card2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* TUTORIAL */

.tutorial-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: var(--font_textXsm);
  padding: 2rem;
}

.tutorial-img {
  max-width: 90%;
  margin-left: 0.8rem;
}

/* BODY */
.main_container {
  position: relative;
  width: 80vw;
  min-height: var(--card_min_h);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.smaller-button_one {
  position: relative;
  backface-visibility: hidden;
  padding: 0.4rem 1.6rem;
  font-size: var(--font_textSm);
  font-weight: bold;
  font-family: "Poppins";
  border-radius: var(--radius);
  border: var(--borderLg);
  cursor: pointer;
  transition: var(--trans2);
  background: var(--blue);
}

.smaller-button_one:hover {
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.4);
  transform: scale(1.02);
}
.smaller-button_one:active {
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.6);
  transform: scale(1.01);
}
