header {
  flex-direction: column;
  font-size: var(--font_header);
  font-weight: 600;
  height: 18rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.c {
  color: var(--red);
}
.o {
  color: var(--green);
}
.l {
  color: var(--blue);
}
.o2 {
  color: var(--violet);
}
.u {
  color: var(--red2);
}
.r {
  color: var(--yellow);
}
/* NAVBAR */
.menu {
  display: flex;
  justify-content: center;
  width: 100%;
}

.name {
  font-size: var(--font_textLogo);
}

.nav_menus {
  display: flex;
  justify-content: center;
  width: 80%;
}

.nav_menu {
  display: flex;
  font-size: var(--font_textSm);
  justify-content: space-around;
  margin: 0.4rem 3rem;
}

.nav_menu a {
  cursor: pointer;
  color: inherit;
}

.current {
  color: var(--yellow);
}

.non_current a:hover,
.non_current a:active {
  color: var(--blue);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 640px) {
  header {
    height: 90px;
  }

  .nav_menus {
    width: 260px;
  }
}
