.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 8rem;
}

.fa-solid {
  color: var(--black);
}

.none {
  margin-top: 2rem;
}
.none:hover {
  background: transparent;
}

.score-text {
  font-size: var(--font_textSm);
  text-transform: capitalize;
  color: var(--black);
  margin-bottom: 1rem;
  width: 100%;
  font-weight: 600;
  padding-top: 2rem;
}
.score-text2 {
  font-size: var(--font_textXsm);
  text-transform: capitalize;
  color: var(--black);
  margin-bottom: 1.4rem;
  width: 360px;
  font-weight: 600;
  padding-top: 0.4rem;
}

.MAX_score-text {
  margin-bottom: 4rem;
}

.button_area {
  width: 250px;
  height: 80px;
}

#name {
  text-transform: uppercase;
  text-align: center;
}
#name::placeholder {
  text-transform: capitalize;
  text-align: center;
}
