.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.scoreButton {
  font-size: var(--font_textSm);
  padding: 0.9rem 1.8rem;
  border-radius: var(--radiusLg);
  background: var(--white);
  border: var(--borderSm);
  color: var(--black);
  cursor: pointer;
  margin-top: 1rem;
  width: 200px;
  font-weight: 600;
}

.scoreButton:hover {
  background: var(--blue);
}
.yellow:hover {
  background: var(--yellow);
}
.green:hover {
  background: var(--green);
}

.none {
  margin-top: 3rem;
}
.none:hover {
  background: transparent;
}

.score-text {
  font-size: var(--font_textSm);
  text-transform: capitalize;
  color: var(--black);
  margin-bottom: 1rem;
  width: 100%;
  font-weight: 600;
  padding-top: 4rem;
}

#name {
  text-transform: uppercase;
  text-align: center;
}
#name::placeholder {
  text-transform: capitalize;
  text-align: center;
}
