/* IMPORT FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
/* IMPORT STYLES */
@import "navbar.css";
@import "home.css";
@import "flips.css";
@import "score.css";
@import "about.css";
@import "quiz.css";

:root {
  /* COLOURS */
  --black: #262626;
  --white: #fff;
  --blue: #87cfdb;
  --yellow: #f9cc01;
  --red: #dc0000;
  --green: #5ea702;
  --violet: #1a0c62;
  --red2: #f8bbe4;

  /* FONTS */
  --poppins: "Poppins", serif;
  --font_header: 8rem;
  --font_textXXsm: 1.4rem;
  --font_textXsm: 1.6rem;
  --font_textSm: 2.4rem;
  --font_textLg: 3.2rem;
  --font_textLogo: 7rem;

  --card_width: 100%;
  --card_min_h: 52rem;
  --card_min_w: 50rem;
  --maxWidth: 900px;
  --borderLg: 5px solid var(--black);
  --borderSm: 3.5px solid var(--black);
  --radius: 8px;
  --radiusLg: 16px;
  --trans1: all 0.3s ease-in-out;
  --trans2: all 0.2s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  text-align: center;
  justify-content: center;
  font-family: var(--poppins);
  caret-color: transparent;
}

body {
  color: var(--black);
  background: var(--white);
  height: 100vh;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  :root {
    --card_min_h: 32rem;
    --card_min_w: 20rem;
    --font_textLogo: 3.4rem;
    --radius: 4px;
    --font_textXsm: 1.4rem;
    --font_textSm: 1.6rem;
    --font_textLg: 2.6rem;
  }
}
