@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap");

:root {
  /* COLOURS */
  --black: #262626;
  --white: #fff;
  --blue: #87cfdb;
  --yellow: #f9cc01;
  --red: #842700;
  --green: #55bf81;
  --violet: #945f92;
  --red2: #a24000;

  /* FONTS */
  --poppins: "Poppins", serif;
  --font_header: 8rem;
  --font_textXsm: 1.6rem;
  --font_textSm: 2.4rem;
  --font_textLg: 3.2rem;

  --card_width: 60%;
  --card_min_h: 60vh;
  --card_min_w: 60rem;
  --borderLg: 5px solid var(--black);
  --borderSm: 3.5px solid var(--black);
  --radius: 8px;
  --radiusLg: 16px;
  --trans1: all 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  text-align: center;
  justify-content: center;
  font-family: var(--poppins);
}

body {
  color: var(--black);
  background: var(--white);
  height: 100vh;
}

a {
  text-decoration: none;
}

header {
  font-size: var(--font_header);
  padding: 2rem 0 0 0;
  font-weight: 600;
}

.c {
  color: var(--red);
}
.o {
  color: var(--green);
}
.l {
  color: var(--violet);
}
.o2 {
  color: var(--blue);
}
.u {
  color: var(--red2);
}
.r {
  color: var(--yellow);
}
/* NAVBAR */
.menu {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav_menus {
  display: flex;
  justify-content: center;
  width: 80%;
}

.nav_menu {
  display: flex;
  font-size: var(--font_textSm);
  justify-content: space-around;
  margin: 0.4rem 3rem;
}

.nav_menu a {
  cursor: pointer;
  color: inherit;
}

.current {
  color: var(--yellow);
}

.non_current a:hover,
.non_current a:active {
  color: var(--blue);
  transition: var(-- trans1);
}

/* BODY */

.main_container {
  width: 80vw;
  height: var(--card_min_h);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.smaller-button_one {
  position: relative;
  backface-visibility: hidden;
  padding: 0.6rem 1.6rem;
  font-size: var(--font_textSm);
  font-weight: bold;
  font-family: "Poppins";
  border-radius: var(--radius);
  border: var(--borderLg);
  cursor: pointer;
  transition: var(--trans1);
}

.smaller-button_one:hover {
  background-color: var(--yellow);
}
